*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body{
    overflow: hidden;
    background-color: #f5ebe0;
    height: 100vh;
    width: 100vw;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 425px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(#999, .25);
    padding: .75rem;
}

.card-image {
    border-radius: 8px;
    border: 1px solid black;
    overflow: hidden;
    padding-bottom: 65%;
    background-image: url(./github-mark.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 80px 16%;
    position: relative;
}

.card-heading {
    position: absolute;
    left: 16%;
    top: 75%;
    right: 0%;
    font-size: 1.55rem;
    font-weight: 900;
    color: #000000;
    line-height: 1.222;
    small {
        display: block;
        font-size: .75em;
        font-weight: 400;
        margin-top: .25em;
    }
}

.card-form {
    padding: 2rem 1rem 0;
}

.input {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-top: 1.5rem;
    &+.input {
        margin-top: 1.5rem;
    }
}

.input-label {
    color: #8597a3;
    position: absolute;
    top: 1.5rem;
    transition: .25s ease;
}

.input-field {
    border: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid #eee; 
    font: inherit;
    font-size: 1.125rem;
    padding: .25rem 0;
    &:focus, &:valid {
        outline: 0;
        border-bottom-color: #d5bdaf;
        &+.input-label {
            color: #000000;
            transform: translateY(-1.5rem);
        }
    }
}

.action {
    margin-top: 2rem;
}

#action-button {
    font: inherit;
    font-size: 1.25rem;
    padding: 1em;
    width: 100%;
    font-weight: 500;
    background-color: #6658d3;
    border-radius: 6px;
    color: #FFF;
    border: 0;
    &:focus {
        outline: 0;
    }
}

.centralised {
    display: none;
    justify-content: center; /* Added to center content horizontally */
    align-items: center; /* Added to center content vertically */
}

.user-card {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 425px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(#999, .25);
    padding: .75rem;
}

.user-card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.user-card h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 0.5rem;
}

.user-card p {
    font-size: 1rem;
    color: #666666;
    margin-bottom: 0.25rem;
}


.visit-profile-btn{
    font: inherit;
    font-size: 1.1rem;
    padding: 0.5em;
    width: 100%;
    font-weight: 500;
    background-color: #6658d3;
    border-radius: 6px;
    color: #FFF;
    border: 0;
    &:focus {
        outline: 0;
    }
}